# Python
*.py[cod]
__pycache__/
*.egg-info/
*.egg

# virtual environments
venv/
*.venv
env/
ENV/

# environment variables
.env

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*.swp
*.swo

# Editors and IDEs
.idea/
.vscode/

# misc
*.bak
*.log
*.tmp
*.prof
.coverage

# distutils
MANIFEST
/build/
/dist/
.pybuild/
